<!DOCTYPE html>
<html>
<head>
    <title>Student Management</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Student Management System</h1>



<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Course</th>
        <th>Action</th>
    </tr>

    {% for s in students %}
    <tr>
    <td>{{ loop.index }}</td>
    <td>{{s[1]}}</td>
    <td>{{s[2]}}</td>
    <td>{{s[3]}}</td>
    <td>
        <a href="/edit/{{s[0]}}">Edit</a> |
        <a href="/delete/{{s[0]}}" onclick="return confirm('Are you sure?')">Delete</a>
    </td>
</tr>
    {% endfor %}

</table>
<a href="/add" class="add-btn">➕ Add Student</a>

</body>
</html>